{
    "presets": [
        "@babel/preset-env", "@babel/react"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-react-jsx",
            {
                "pragma": "jsx"
            }
        ]
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/preset-env"
                ],
                "@babel/preset-react"
            ]
        }
    }
}